/* Reset default browser styles */
* {
    margin: 0;
    padding: 2;
    box-sizing: border-box;
  }
  
  /* Set body background color */
  body {
    background-color: #f7f7f7;
    font-size: 22px;
  }
  
  /* Style header */
  header {
    background-color: white;
    color:red;
    padding: 20px;
  }
  
  /* Style navigation menu */
  nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
  